@import '_globals.scss';

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  height: 100px;
  padding-top: 40px;
  color: $md-primary-color;
}


.App-intro {
  font-size: large;
  padding-bottom: 10px;
}

